<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <listener>
        <description>ServletContextListener</description>
        <listener-class>giangvt.listener.ContextListener</listener-class>
    </listener>
    <servlet>
        <servlet-name>LoginServlet</servlet-name>
        <servlet-class>giangvt.servlet.LoginServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>MainController</servlet-name>
        <servlet-class>giangvt.servlet.MainController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RegisterServlet</servlet-name>
        <servlet-class>giangvt.servlet.RegisterServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LogoutServlet</servlet-name>
        <servlet-class>giangvt.servlet.LogoutServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SendCodeServlet</servlet-name>
        <servlet-class>giangvt.servlet.SendCodeServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ActivateAccountServlet</servlet-name>
        <servlet-class>giangvt.servlet.ActivateAccountServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SearchArticleServlet</servlet-name>
        <servlet-class>giangvt.servlet.SearchArticleServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ChangeNextPageServlet</servlet-name>
        <servlet-class>giangvt.servlet.ChangeNextPageServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ChangePrePageServlet</servlet-name>
        <servlet-class>giangvt.servlet.ChangePrePageServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ShowDetailServlet</servlet-name>
        <servlet-class>giangvt.servlet.ShowDetailServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PostArticleServlet</servlet-name>
        <servlet-class>giangvt.servlet.PostArticleServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LikeArticleServlet</servlet-name>
        <servlet-class>giangvt.servlet.LikeArticleServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DislikeArticleServlet</servlet-name>
        <servlet-class>giangvt.servlet.DislikeArticleServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PostCommentServlet</servlet-name>
        <servlet-class>giangvt.servlet.PostCommentServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteCmtServlet</servlet-name>
        <servlet-class>giangvt.servlet.DeleteCmtServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteArticleServlet</servlet-name>
        <servlet-class>giangvt.servlet.DeleteArticleServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ShowNotiServlet</servlet-name>
        <servlet-class>giangvt.servlet.ShowNotiServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>LoginServlet</servlet-name>
        <url-pattern>/LoginServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>MainController</servlet-name>
        <url-pattern>/MainController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RegisterServlet</servlet-name>
        <url-pattern>/RegisterServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LogoutServlet</servlet-name>
        <url-pattern>/LogoutServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SendCodeServlet</servlet-name>
        <url-pattern>/SendCodeServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ActivateAccountServlet</servlet-name>
        <url-pattern>/ActivateAccountServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SearchArticleServlet</servlet-name>
        <url-pattern>/SearchArticleServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ChangeNextPageServlet</servlet-name>
        <url-pattern>/ChangeNextPageServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ChangePrePageServlet</servlet-name>
        <url-pattern>/ChangePrePageServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ShowDetailServlet</servlet-name>
        <url-pattern>/ShowDetailServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PostArticleServlet</servlet-name>
        <url-pattern>/PostArticleServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LikeArticleServlet</servlet-name>
        <url-pattern>/LikeArticleServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DislikeArticleServlet</servlet-name>
        <url-pattern>/DislikeArticleServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PostCommentServlet</servlet-name>
        <url-pattern>/PostCommentServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteCmtServlet</servlet-name>
        <url-pattern>/DeleteCmtServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteArticleServlet</servlet-name>
        <url-pattern>/DeleteArticleServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ShowNotiServlet</servlet-name>
        <url-pattern>/ShowNotiServlet</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <welcome-file-list>
        <welcome-file>MainController</welcome-file>
    </welcome-file-list>
    <resource-ref>
        <res-ref-name>DS007</res-ref-name>
        <res-type>javax.sql.DataSource</res-type>
        <res-auth>Container</res-auth>
        <res-sharing-scope>Shareable</res-sharing-scope>
    </resource-ref>
    <display-name>Log4jWebDemo1</display-name>
    <context-param>
        <param-name>log4j-config-location</param-name>
        <param-value>WEB-INF\log4j.properties</param-value>
    </context-param>
    <error-page>
        <error-code>404</error-code>
        <location>/error_page.jsp</location>
    </error-page>
    <error-page>
        <error-code>500</error-code>
        <location>/error_page.jsp</location>
    </error-page>
</web-app>
